@import "../../styles/shared.scss";

.hero-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(-45deg, #010d19, $lightGrey, #03284c, #010d19);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
}

.hero-text {
  margin-top: 18%;
  font-size: 3rem;
  text-align: center;
  h1 {
    color: white;
    margin: 15px 0px;
  }
}

.hero-name {
  color: $gold;
}

.hero-button {
  margin-top: 75px;
  a {
    color: white;
    background: none;
    border: 3px solid $gold;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 2rem;
    &:hover {
      background-color: $gold;
      color: $charcoalBlue;
      border: 3px solid $charcoalBlue;
    }
  }
  i {
    margin-left: 10px;
    animation-name: bounce-1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }
}
