@import "../../styles/shared.scss";

.hero-container {
  color: #ffffff;
  display: flex;
  img {
    height: 475px;
  }
}

.hero-text {
  padding: 0px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  h2 {
    font-size: 2rem;
  }
}

.hero-tag {
  display: flex;
  align-items: flex-end;
  margin-top: 6px;
  h4 {
    padding-top: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
    font-style: italic;
    color: $gold;
  }
  i {
    letter-spacing: 15px;
    font-size: 1.2rem;
  }
  a {
    color: #ffffff;
    &:hover {
      color: $gold;
    }
  }
}

.hero-article {
  margin-top: 20px;
}
