@import "./shared.scss";

.slick-slide {
  height: 100% !important;
}
.slick-initialized .slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-dots {
  position: unset !important;
  margin: 15px 0px !important;
}

.slick-dots li button::before {
  color: $gold !important;
}

@include tablet {
  .slick-prev {
    padding-left: 3% !important;
  }

  .slick-next {
    padding-right: 5% !important;
  }
}
