@import "../../styles/shared.scss";

.category-header {
  display: flex;
  align-items: flex-end;
  width: 95%;
  padding: 0px 25px;
  h3 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
  }
  hr {
    color: #ffffff;
    height: 0px;
    width: 80%;
  }

  i {
    color: #ffffff;
    font-size: 2rem;
  }
}
