@import "../../styles/shared.scss";

.category-header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  h3 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
  }
  hr {
    color: $gold;
    height: 0px;
    width: 40%;
  }

  i {
    width: 1%;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: $gold;
    }
  }
}
