@import "../../styles/shared.scss";

.card-container {
  border: 2px solid $darkGrey;
  border-radius: 7px;
  width: 350px;
  box-shadow: 0 1px 4px grey;
  background-color: #ffffff;
}

.card-header {
  background-color: $darkGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #ffffff;
  border-bottom: 1px solid $darkGrey;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.card-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: $darkGrey;
  padding: 0px 10px;

  a {
    color: $darkGrey;
    &:hover {
      color: black;
      opacity: 0.5;
    }
  }
}

img {
  border: 2px solid $darkGrey;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 250px;
  width: 300px;
}

.card-description-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $darkGrey;
  width: 95%;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 10px;

  h3 {
    padding-left: 5px;
  }
}

.website-links {
  i {
    font-size: 1.5rem;
    padding: 0px 15px;
  }
}

.card-description {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 0px 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}
