@import "../../styles/shared.scss";

.card-container {
  width: 350px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 1px 4px $gold;
}

.card-header {
  background: $charcoalBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 1px 4px $gold;
}

.card-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.card-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: $darkGrey;
  padding: 0px 10px;

  a {
    color: $darkGrey;
    &:hover {
      color: black;
      color: silver;
    }
  }
  img {
    border: 2px solid $darkGrey;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
    width: 300px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.card-information-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $darkGrey;
  width: 95%;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 10px;
  margin-bottom: 5px;

  h3 {
    padding-left: 5px;
  }
}

.website-links {
  i {
    font-size: 1.5rem;
    padding: 0px 15px;
  }
}

.card-information-details {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 0px 10px;
  margin-bottom: 15px;

  h3 {
    font-weight: bold;
    margin: 2px 0px;
  }
  h4 {
    margin-bottom: 8px;
  }
}
