@import "../../styles/shared.scss";

.card-container {
  border: 0.5px solid $darkBlue;
  cursor: default;
  &:hover {
    border: none;
  }
}

.card-figure {
  height: 250px;
  width: 300px;
  img {
    height: 100%;
    width: 100%;
  }
}

.card-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &:hover {
    box-shadow: 0 12px 20px -12px rgba(34, 49, 63, 1);
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 1.3rem;
    font-family: Tauri;
    font-weight: 700;
    color: $darkBlue;
    margin-bottom: 15px;
    border-bottom: 4px solid $darkBlue;
    padding: 10px 0px;
  }
  h3 {
    font-family: Tauri;
    padding: 0px 10px;
    font-size: 0.8rem;
    color: $darkBlue;
    line-height: 1.4;
  }
  animation-name: slide-bottom;
  animation-duration: 1s;
}

.card-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  a {
    font-size: 2rem;
    color: $darkBlue;
    &:hover {
      color: $gunMetalBlue;
    }
  }
}

.card-hover-animation {
  animation-name: fadein;
  animation-duration: 0.5s;
}
