@import "../../styles/shared.scss";

.header-container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  background: $gunMetalBlue;
  height: 70px;
  color: white;
  padding: 0px 100px;
  box-shadow: 0 4px 2px -2px $gold;
}

.left-side-header {
  h3 {
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

.right-side-header {
  span {
    letter-spacing: 25px;
  }
  a {
    color: #ffffff;
    font-size: 2rem;
    &:hover {
      color: $gold;
    }
  }
}
