@import "../styles/shared.scss";
@import "../styles/react-slick-override.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
}

// #top {
//   scroll-margin-top: 100px;
// }

.App-header {
  margin-bottom: 20px;
}

.hero {
  margin-bottom: 50px;
}

//Tablet View Settings

@include tablet {
}

@include mobile {
}
