@import "../styles/shared.scss";

.App-header {
  margin-bottom: 20px;
}

.front-end-projects {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.full-stack-projects {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.word-press-projects {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
