@import "../styles/shared.scss";
@import "../styles/react-slick-override.scss";

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.App-header {
  margin-bottom: 20px;
}

.project-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 100px;
}

nav {
  margin-top: 50px;
}

.card-container {
  margin-bottom: 30px;
  -webkit-animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#projects {
  scroll-margin-top: 140px;
}

#top {
  scroll-margin-top: 120px;
}

//Tablet View Settings

@include tablet {
  .project-gallery-container {
    justify-content: space-evenly;
    padding: 0;
  }
}

//Mobile View Settings

@include mobile {
  .hero {
    display: none;
  }

  nav {
    margin-top: 0px;
  }

  .left-side-header {
    h3 {
      font-size: 1.8rem;
    }

  }
}
