@import "../../styles/shared.scss";

nav {
  color: $charcoalBlue;

  ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }

  li {
    cursor: pointer;
    padding: 20px 10px;
    font-family: "Tauri", sans-serif;
  }
}

.active {
  border-bottom: 4px solid $charcoalBlue;
}
