@import "../../styles/shared.scss";

nav {
  color:black;
  
  ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  }

  li {
    cursor: pointer;
  }
}

.active {
  border-bottom: 1px solid black;
}