@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tauri&display=swap");

@font-face {
  font-family: "LuloCleanW01-One";
  src: url("/fonts/LuloCleanW01-One.woff2") format("woff2"), url("/fonts/LuloCleanW01-One.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LuloCleanW01-OneBold";
  src: url("/fonts/LuloCleanW01-OneBold.woff2") format("woff2"), url("/fonts/LuloCleanW01-OneBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
