$gold: #85714d;
$darkGrey: #181719;
$lightGrey: #393939;
$darkBlue: #1d2d5c;
$lightBlue: #134a8e;
$gunMetalBlue: #253237;
$charcoalBlue: #2f4858;
$queenblue: #33658a;
$linen: #f5e9e2;
$gold: #e6c79c;
$greyGradient: linear-gradient(45deg, $lightGrey 0%, $darkGrey 100%);
$blueGradient: linear-gradient(45deg, #010d19 0%, #03284c 100%);
