$gold: #85714d;
$darkGrey: #222223;
$lightGrey: #393939;
$darkBlue: #1d2d5c;
$lightBlue: #134a8e;
$gunMetalBlue: #253237;
$linen: #f5e9e2;
$gold: #e6c79c;
$blueGradient: linear-gradient(90deg, rgba(29, 45, 92, 1) 35%, rgba(19, 74, 142, 1) 100%);
